<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2.5.xsd" version="2.5">
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>learn.tutorials.servlet.Hello</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>learn.tutorials.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>learn.tutorials.servlet.Welcome</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>learn.tutorials.servlet.cookies.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>learn.tutorials.servlet.cookies.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>learn.tutorials.servlet.cookies.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginHttpSession</servlet-name>
    <servlet-class>learn.tutorials.servlet.httpsession.LoginHttpSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutHttpSession</servlet-name>
    <servlet-class>learn.tutorials.servlet.httpsession.LogoutHttpSession</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfileHttpSessionServlet</servlet-name>
    <servlet-class>learn.tutorials.servlet.httpsession.ProfileHttpSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/servlet/Hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<display-name>LoginServlet</display-name>  
    <servlet-name>LoginServlet</servlet-name>  
    <url-pattern>/LoginServlet</url-pattern>  
  </servlet-mapping> 
  <servlet-mapping>  
    <servlet-name>Logout</servlet-name>  
    <url-pattern>/Logout</url-pattern>  
  </servlet-mapping> 
  <servlet-mapping>
	<display-name>ProfileServlet</display-name>  
    <servlet-name>ProfileServlet</servlet-name>  
    <url-pattern>/ProfileServlet</url-pattern>  
  </servlet-mapping>
  <servlet-mapping>
	<display-name>LoginHttpSession</display-name>  
    <servlet-name>LoginHttpSession</servlet-name>  
    <url-pattern>/LoginHttpSession</url-pattern>  
  </servlet-mapping> 
  <servlet-mapping>  
    <servlet-name>LogoutHttpSession</servlet-name>  
    <url-pattern>/LogoutHttpSession</url-pattern>  
  </servlet-mapping> 
  <servlet-mapping>
	<display-name>ProfileHttpSessionServlet</display-name>  
    <servlet-name>ProfileHttpSessionServlet</servlet-name>  
    <url-pattern>/ProfileHttpSessionServlet</url-pattern>  
  </servlet-mapping>
  <filter>
  	<filter-name>MyFilter</filter-name>
  	<filter-class>learn.tutorials.servlet.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>MyFilter</filter-name>
  	<url-pattern>/LoginHttpSession</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <!-- <welcome-file>MyHTML.html</welcome-file> -->
    <welcome-file>Index.html</welcome-file>
  </welcome-file-list>
</web-app>